html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*body {
    position: relative;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100%;
}*/
body.open {
    overflow: hidden;
}
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.left {
    justify-content: left;
}
.margin-left {
    margin-left: 10px;
}
.vertical-stretch {
    align-self: stretch;
}
.align-items-center {
    align-items: center;
}
.horizontal-stretch {} .push-up {
    margin-bottom: -60px;
}
.push-up:after {
    content: "";
    height: 60px;
    width: 100%;
}
#table-option {
    background: #3367D6;
}
canvas {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 100%;
    min-height: 100%;
}
.main-content-wrapper {
    min-width: 100%;
    min-height: 100%;
}
main {
    min-width: 100%;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/RobotoCondensed-Light.eot);
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/RobotoCondensed-Regular.eot);
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/RobotoCondensed-Bold.eot);
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/RobotoCondensed-LightItalic.eot);
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/RobotoCondensed-Italic.eot);
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/RobotoCondensed-BoldItalic.eot);
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
